In [1]:
2+2

4

In [2]:
2-1

1

In [3]:
2*8

16

In [4]:
8/2

4.0

# Modulo or "Mod" operator

In [5]:
7/4

1.75

Gives the remainder

In [6]:
7%4

3

In [7]:
50%5

0

mod operator gives the remainder and may help us know whether a number is even or is divisible by another number

In [8]:
2**3

8

In [9]:
2*9

18

In [10]:
2**1

2

In [11]:
2**3 + 10 - 1

17

In [12]:
2+10*10+3

105

In [13]:
(2+10)*(10+3)

156

## Create variable names and assign values

In [18]:
a=5

In [19]:
a

5

In [20]:
a=10

In [21]:
a

10

In [22]:
a+a

20

In [23]:
a=a+a

In [24]:
a

20

In [26]:
a=a+a
a

80

In [27]:
type(a)

int

In [28]:
a = 30.1

In [29]:
type(a)

float

In [1]:
income = 100

tax_rate = 0.1

My_taxes = income * tax_rate
My_taxes

10.0

## Strings

In [10]:
'hello'

'hello'

In [11]:
"world"

'world'

In [12]:
'this is a string'

'this is a string'

In [13]:
"I'm going for a run"

"I'm going for a run"

In [14]:
print("hello world 1","hello wordl 2")

hello world 1 hello wordl 2

In [17]:
print('hello \nworld')

hello
world

In [18]:
len('hello')

5

In [19]:
len('What the f')

10

In [20]:
'Hello world'[::-1]

'dlrow olleH'

In [29]:
str = 'Sushant'
str

'Sushant'

In [23]:
str[1:4]

'ush'

In [24]:
str[:7]

'Sushant'

In [27]:
str[1:7:2]

'uhn'

In [26]:
str[:8]

'Sushant'

In [33]:
print(str +'{}'.format(' Wavhal'))

Sushant Wavhal

In [36]:
print(str + '{}{}{}{}'.format(' Wavhal',' is',' a',' man'))

Sushant Wavhal is a man

In [4]:
print('Sushant{w}{w}{w}'.format(w=' Wavhal', b=' Business', a=' Analytics') )

Sushant Wavhal Wavhal Wavhal

## LISTS

In [44]:
list1 = ['Ram','Sham','Dham']
list1

['Ram', 'Sham', 'Dham']

In [46]:
list1.sort()
list1

['Dham', 'Ram', 'Sham']

In [60]:
list1.append('Ghan')
list1

['Dham', 'Ram', 'Sham', 'ghan', 'Ghan']

In [56]:
list1.pop()

'Ghan'

In [61]:
list1

['Dham', 'Ram', 'Sham', 'ghan', 'Ghan']

In [62]:
list1.sort()
list1

['Dham', 'Ghan', 'Ram', 'Sham', 'ghan']

In [63]:
list1

['Dham', 'Ghan', 'Ram', 'Sham', 'ghan']

In [64]:
list1.pop()

'ghan'

In [65]:
list1

['Dham', 'Ghan', 'Ram', 'Sham']

In [67]:
t=('s','u','s','h','a','n','t')
t

('s', 'u', 's', 'h', 'a', 'n', 't')

In [75]:
t.count('s')

2

In [82]:
set('Missisipi')

{'M', 'i', 'p', 's'}

In [83]:
pwd

'C:\\Users\\hp\\Desktop\\Python3'

In [84]:
%%writefile file1.txt
ram ram pahuna
kasa chalue
majet naa!!

Overwriting file1.txt

In [86]:
file = open('file1.txt')

In [87]:
file.read()

'ram ram pahuna\nkasa chalue\nmajet naa!!\n'

## Dictionaries

In [7]:
dict1 = {'Key1':10,'Key2':20,'Key3':30}
dict1

{'Key1': 10, 'Key2': 20, 'Key3': 30}

In [9]:
dict1['Key2']

20

In [11]:
dict2 = {'k1': 123,'k2':[0,1,2],'k3': {'inside':'1234'}}
dict2

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'inside': '1234'}}

In [12]:
dict2['k2']

[0, 1, 2]

In [15]:
dict2['k3']

{'inside': '1234'}

In [17]:
dict2['k3']['inside']

'1234'

## Tuples

### They are immutable..similar to lists

In [18]:
t=(1,2,3)

In [20]:
len(t)

3

In [22]:
t[0]

1

In [25]:
t1= ('one','two',3,'one','one')

In [26]:
t1[-1]

'one'

In [27]:
t1.count('one')

3

In [28]:
t1.index('one')

0

In [29]:
list1=['one','two']
list1

['one', 'two']

In [30]:
list1[1] = 'three'
list1

['one', 'three']

In [31]:
t1[0]='two'

TypeError: 'tuple' object does not support item assignment

### This makes a tuple different than a list.
Once the value is assigned then it cannot be reassigned, whereas in lists this function is allowed

## sets

In [32]:
set('Missisipi')

{'M', 'i', 'p', 's'}

### must have unique values

## Booleans

In [33]:
True

True

In [34]:
False

False

In [35]:
type(True)

bool

In [36]:
1==1

True

In [37]:
1>2

False

## COMPARISON OPERATORS & logical

In [38]:
1 > 2

False

In [39]:
1<2

True

In [40]:
1==2

False

In [42]:
1<2<3

True

In [43]:
1<2 and 2<3

True

In [44]:
1>2 or 2>1

True

In [45]:
1==1 and 2==3

False

In [48]:
 not 1>0

False

In [49]:
not (1==1 or 2==2)

False