## IF ELSE ELIF statements

In [1]:
action = True

if action:
    print("I am acting")
else:
    print("I am not acting")

I am acting

In [2]:
action = False

if action:
    print("I am acting")
else:
    print("I am not acting")

I am not acting

In [3]:
loc = 'bank'

if loc == 'bank':
    print("Money is cool!")
elif loc == 'store':
    print("Welcome to the store!")
elif loc == 'auto shop':
    print("Cars are cool!")
else:
    print("I don't know where I am!")

Money is cool!

In [4]:
loc = 'store'

if loc == 'bank':
    print("Money is cool!")
elif loc == 'store':
    print("Welcome to the store!")
elif loc == 'auto shop':
    print("Cars are cool!")
else:
    print("I don't know where I am!")

Welcome to the store!

In [5]:
loc = 'auto shop'

if loc == 'bank':
    print("Money is cool!")
elif loc == 'store':
    print("Welcome to the store!")
elif loc == 'auto shop':
    print("Cars are cool!")
else:
    print("I don't know where I am!")

Cars are cool!

In [6]:
loc = 'gaming'

if loc == 'bank':
    print("Money is cool!")
elif loc == 'store':
    print("Welcome to the store!")
elif loc == 'auto shop':
    print("Cars are cool!")
else:
    print("I don't know where I am!")

I don't know where I am!

## FOR LOOPS

In [7]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
for i in list1:
    print (i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in list1:
    #check for even numbers
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [10]:
for i in list1:
    #check for even numbers
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number:{i}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

### Indentation in python is imprtant
Watch the print statement

In [11]:
list1_sum =0

for i in list1:
    list1_sum = list1_sum + i
print (list1_sum)

55

In [12]:
list1_sum =0

for i in list1:
    list1_sum = list1_sum + i
    print (list1_sum)

1
3
6
10
15
21
28
36
45
55

In [13]:
for i in 'Sushant':
    print(i)

S
u
s
h
a
n
t

In [14]:
list2 = [(1,2),(3,4),(5,6)]

for i in list2:
    print (i)

(1, 2)
(3, 4)
(5, 6)

In [15]:
for a,b in list2:
    print (a)
    print(b)

1
2
3
4
5
6

In [16]:
list3 = [(1,2,3),(4,5,6)]

for a,b,c in list3:
    print (b)

2
5

## WHILE LOOPS

In [17]:
x=1

while x <=6:
    print(f'the current val of x is {x}')
    x+=1
else:
    print('X is not less that 6')

the current val of x is 1
the current val of x is 2
the current val of x is 3
the current val of x is 4
the current val of x is 5
the current val of x is 6
X is not less that 6

In [18]:
x = 'Sushant'

for i in x:
    print(i)

S
u
s
h
a
n
t

In [19]:
for i in x:
    if i == 'h':
        continue
    print(i)

S
u
s
a
n
t

In [20]:
for i in x:
    if i == 'a':
        break
    print(i)

S
u
s
h

### `USEFUL OPERATORS

### Range - prints all the numbers before the number specified.
It has a start and stop option

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [23]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [24]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [25]:
sb = list(range(0,15,2))

In [26]:
sb

[0, 2, 4, 6, 8, 10, 12, 14]

In [27]:
sb.index(12)

6

In [28]:
index = 0

for i in 'sushant':
    print('At index {} the letter is {}'.format(index,i))
    index += 1

At index 0 the letter is s
At index 1 the letter is u
At index 2 the letter is s
At index 3 the letter is h
At index 4 the letter is a
At index 5 the letter is n
At index 6 the letter is t

In [29]:
word = 'Sushant'

for i in enumerate(word):
    print(i)

(0, 'S')
(1, 'u')
(2, 's')
(3, 'h')
(4, 'a')
(5, 'n')
(6, 't')

In [30]:
l1 = [1,2,3]
l2 = ['a','b','c']
l3 = [100,200,300]

In [31]:
zip(l1,l2,l3)

In [32]:
for i in zip(l1,l2,l3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [33]:
l1 = [1,2,3,4,5]

In [34]:
for i in zip(l1,l2,l3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [35]:
'a' in l2

True

In [36]:
100 in l3

True

In [37]:
d = {'mykey': 345}

In [38]:
345 in d

False

In [39]:
345 in d.keys()

False

In [40]:
345 in d.keys()

False

In [41]:
# from library random import the shuffle function 
from random import shuffle

In [42]:
list123 = [1,2,3,4,5,6,7,8,9]
list123

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
shuffle(list123)
list123

[4, 8, 2, 7, 5, 9, 1, 3, 6]

In [44]:
from random import randint

In [45]:
randint(0,100)

70

In [46]:
randint(0,100)

15

In [47]:
n = input('WHats your name?')

WHats your name?sushant

In [48]:
n

'sushant'

In [49]:
#appending lists

lst = []
string = 'Sushant'

for i in string:
    lst.append(i)

lst

['S', 'u', 's', 'h', 'a', 'n', 't']

In [50]:
lst1 = [i for i in string]
lst1

['S', 'u', 's', 'h', 'a', 'n', 't']

In [51]:
results = [x if x%2 ==0 else 'ODD' for x in range(0,11) ]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [64]:
st = 'Print only the words that start with s in this sentence'

In [65]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

### Use range() to print all the even numbers from 0 to 10.

In [55]:
sbt = list(range(0,11,2))
sbt

[0, 2, 4, 6, 8, 10]

### Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3

In [67]:
lst = [x for x in range(1,50) if x%3 == 0]
lst

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### Go through the string below and if the length of a word is even print "even!"

In [68]:
st = 'Print every word in this sentence that has an even number of letters'

In [78]:
for word in st.split():
    if len(word) %2 ==0:
        print(word +'<--length of this word is even')

word<--length of this word is even
in<--length of this word is even
this<--length of this word is even
sentence<--length of this word is even
that<--length of this word is even
an<--length of this word is even
even<--length of this word is even
number<--length of this word is even
of<--length of this word is even

### Go through the string below and if the length of a word is even print "even!"

In [75]:
st = 'Print every word in this sentence that has an even number of letters'

### Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [74]:
for num in range(1,100):
    if num%3==0 and num%5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

### Use List Comprehension to create a list of the first letters of every word in the string below:

In [91]:
st = 'Create a list of the first letters of every word in this string'

In [96]:
[i[0] for i in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']